<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ph.edu.dlsu.readwell20">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.chaquo.python.android.PyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Readwell20"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ui.cart.SpecificDate"
            android:parentActivityName=".ui.cart.TransactionHistory"/>
        <activity
            android:name=".ui.cart.TransactionHistory"
            android:parentActivityName=".MainActivity"
            android:label="Transaction History" />
        <activity
            android:name=".ui.cart.CheckoutConfirm"
            android:label="Confirm Checkout"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BookDetails"
            android:label="View Book Details"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserSignup"
            android:label="Signup" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UserLogin"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>